
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotImplemented</title>
</head>
<body>
    Pas encore implémenté... Nico à toi de Jouer ....
</body>
</html>
