@using CnAppForAzureDev.Managers;
@model CnAppForAzureDev.ViewComponentModels.TrolleyViewComponentModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var industry = (IIndustry)ViewData["Industry"];
}

<a class="font-weight-bold nav-link waves-effect waves-light" asp-controller="Trolley" asp-action="Index">
    <span class="badge badge-pill wg-green">@Model.ItemCount</span>
    <i class="fa @industry.CartHeaderLogo wg-black-text" aria-hidden="true"></i>
    <span class="clearfix d-none d-sm-inline-block">@Localizer[@industry.CartHeader]</span>
</a>